@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.btnBottom{
  position: absolute;
  bottom: 15px;
  left: 50%;
}
